# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# directories
test/

# config files
.editorconfig
.env
.git
.gitignore
.nvmrc # Node version already specified in the Dockerfile
LICENSE
VERSION
README.md
